body{
margin:0;
font-family:'Poppins',sans-serif;
background:radial-gradient(circle at center,#111,#000);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
text-align:center;
color:white;
flex-direction:column;
}

/* GOLD TEXT */
.gold-text{
color:#d4af37;
text-shadow:0 0 10px #d4af37,0 0 25px #b8860b;
}

/* Floating Hearts */
#hearts-bg span{
position:absolute;
color:#222;
animation:float 12s linear infinite;
opacity:0.25;
}
@keyframes float{
0%{transform:translateY(100vh);}
100%{transform:translateY(-10vh);}
}

/* Game Items */
.item{
font-size:3rem;
margin:15px;
cursor:pointer;
display:inline-block;
transition:0.3s;
}
.item:hover{
transform:scale(1.2);
text-shadow:0 0 10px gold;
}

/* Envelope */
#envelope{
display:none;
font-size:5rem;
cursor:pointer;
animation:pulse 2s infinite;
}
@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

/* Box */
.box{
display:none;
background:#111;
padding:25px;
border-radius:15px;
width:90%;
max-width:450px;
font-family:'Dancing Script',cursive;
font-size:1.5rem;
border:1px solid #d4af37;
box-shadow:0 0 25px rgba(212,175,55,0.4);
animation:fadeIn 1s ease-in;
overflow:auto;
max-height:80vh;
}
@keyframes fadeIn{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}

button{
padding:10px 20px;
margin:10px;
border:none;
border-radius:20px;
cursor:pointer;
background:#d4af37;
color:black;
font-weight:bold;
}
button:hover{
background:#b8860b;
}

.ring{
font-size:4rem;
animation:goldGlow 2s infinite;
}
@keyframes goldGlow{
0%{transform:scale(1); text-shadow:0 0 10px gold;}
50%{transform:scale(1.2); text-shadow:0 0 30px gold;}
100%{transform:scale(1); text-shadow:0 0 10px gold;}
}

#noBtn{
position:absolute;
}
